page-activities-tabs {
.tabbar{
  background-color:transparent !important;
  height: 60px;
  .tab-button-text{
  color:white;
  font-size:1.1em;
  font-weight: bold;
  }
  .tab-button[aria-selected=true]{
    border-bottom:4px solid rgb(252,68,120);
  }
}
ion-header::after {
  background-image: none !important;
  }
}
